/* body {
  margin: 0;
  padding: 0;
  background-image: url("https://i.pinimg.com/736x/42/02/fe/4202feb64d1f8cfa5fb09adada7737c2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */